body{
    /* background-color: #8ab6d6; */
    background-color: #a4ebf3;
    color: #162447;
}
.App {
    text-align: center;
}

h1 {
    font-size: 57px;
    font-family: "Playfair Display", cursive;
}
h4{
    font-size: 15px;
    font-family: "Playfair Display", cursive;

}